<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username" required name="username">
  </div>

  <div class="form-group">
    <label for="favoriteValue">What is your favorite value?</label>
    <select id="favoriteValue" class="form-control">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2">Register</button>
    <button class="btn btn-warning" (click)="cancel()">Cancel</button>
  </div>
</form>
